div.container {
    border: 2px solid darkblue;
    border-radius: 50px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

.flex {
    display: flex;
    margin-bottom: 10px;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.tb {
    justify-content: space-evenly;
    padding: 0px 5px;
}

h4 {
    margin-bottom: 0px;
    color: darkblue;
}

#peso {
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

#altura {
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

.cont {
}

#imc {
    text-align: center;
    width: 70%;
    border-radius: 5px;
}

button.btn  {
    color: rgb(255, 255, 255);
    width: 160px;
    height: 30px;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
}

.calc {
    background-color: rgb(72, 72, 219);
    border: 3px solid darkblue;
}

.limpar {
    background-color: rgb(247, 247, 66);
    border: 3px solid rgb(130, 139, 0);
}

.txt-limpar {
    text-shadow: 1px 1px 2px rgb(49, 49, 49);
}

input {
    height: 24px;
    border: 2px solid rgb(65, 65, 240);
}

td {
    border-bottom: 1px solid rgb(65, 65, 240);
    padding: 5px;
}

table {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    
}

th {
    border-bottom: 1px solid rgb(65, 65, 240);
    background-color: rgb(65, 65, 240);
    color: white;
    padding: 5px 10px;
}

.cc {
    text-align: center;
}
